@import '../../theme/base';

.wrapper {
  display: block;
}

.input-text {
  width: 100%;
}

.inputMeta {
  margin-bottom: 8px;
}

.label {
  @include typeset(h4);
}

.instructions {
  @include typeset(small);
  color: $swatch04;
}

.input {
  height: 48px;
  width: 100%;
  background: $swatch03;
  border: 1px solid $swatch03;
  padding: 0 8px;
  @include typeset;
  transition: box-shadow 150ms ease;

  &::placeholder {
    color: $swatch04;
  }

  &:focus {
    @include boxShadow;
  }

  &[readonly] {
    box-shadow: none;
  }

  &.hasError {
    border: 1px solid $swatch08;
  }
}

.errorMessage {
  background: $swatch08;
  @include typeset(helper);
  color: $swatch02;
  padding: 4px 8px;
}

.disabled {
  opacity: 0.5;
}
