@import '../../theme/base';

.input-text {
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 9px;
}

.input {
  color: $swatch01;
  font-size: 14px;
  width: 100%;
  background: $swatch03;
  padding: 8px;
  transition: box-shadow 150ms ease;

  &::placeholder {
    color: $swatch04;
  }

  &:focus {
    box-shadow: 0 2px 4px 0 rgba($swatch01, .2);
  }

  &[readonly] {
    box-shadow: none;
  }
}
