@import '../../theme/base';

.wrapper {
  cursor: pointer;
  position: relative;
  display: block;

  &:hover {
    .checkbox {
      @include boxShadow;
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: auto;

  &:hover {
    .checkbox {
      box-shadow: none;
    }
  }
}

.readOnly {
  cursor: auto;

  &:hover {
    .checkbox {
      box-shadow: none;
    }
  }
}

.input {
  @include typeset;
  background: $swatch03;
  height: 36px;
  width: 96px;
  padding-right: 36px;
  text-align: center;

  // sass-lint:disable no-vendor-prefixes
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }
  // sass-lint:enable no-vendor-prefixes
}

.spin {
  width: 36px;
  height: 36px;

  position: absolute;
  top: 0;
  left: 60px;
}

.button {
  width: 36px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.increment {
  &::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $swatch05;
  }
}

.decrement {
  &::before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $swatch05;
  }
}

.inputMeta {
  margin-left: 12px;
  align-self: center;
}

.label {
  @include formLabel;
}

.instructions {
  @include formInstructions;
}
