@import '../../theme/base';

.wrapper {
  display: grid;
  grid-template-columns: 36px 1fr;
  cursor: pointer;

  &:hover {
    .checkbox {
      @include boxShadow;
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: auto;

  &:hover {
    .checkbox {
      box-shadow: none;
    }
  }
}

.readOnly {
  cursor: auto;

  &:hover {
    .checkbox {
      box-shadow: none;
    }
  }
}

.input {
  padding: 0;
  margin: 0;
  opacity: 0;
  width: 36px;
  height: 36px;
}

.inputMeta {
  margin-left: 12px;
}

.label {
  @include formLabel;
}

.instructions {
  @include formInstructions;
}

.checkbox {
  height: 36px;
  background: $swatch03;
  transition: box-shadow 150ms ease;
  position: relative;
  grid-column-start: 1;

  &:focus {
    @include boxShadow;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: $swatch03;
    left: 18px;
    top: 8px;
    transform: rotate(45deg);
    transition: background-color 150ms ease;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: $swatch03;
    left: 7px;
    top: 19px;
    transform: rotate(45deg);
    transition: background-color 150ms ease;
    pointer-events: none;
  }

  &.checked {
    &::before {
      background-color: $swatch05;
    }

    &::after {
      background-color: $swatch05;
    }
  }
}
