@import './swatches';

// font family
$sansSerif: 'Lato';

// font weight
$light: 300;
$normal: 400;
$bold: 700;

@mixin defaultTypeSetting {
  color: $swatch01;
  font-family: $sansSerif;
  font-weight: $normal;
  @include fontsmoothing;
}

// fixes the nasty light text on dark background antialiasing bug
// Non-standard. https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
@mixin fontsmoothing($value: antialiased) {
  -webkit-font-smoothing: $value; // sass-lint:disable-line no-vendor-prefixes
}

@mixin fontSize($size: 1) {
  @if $size == 0 {
    font-size: 12px;
  }
  @if $size == 1 {
    font-size: 14px;
  }
  @if $size == 2 {
    font-size: 16px;
  }
  @if $size == 3 {
    font-size: 18px;
  }
  @if $size == 4 {
    font-size: 20px;
  }
  @if $size == 5 {
    font-size: 24px;
  }
  @if $size == 6 {
    font-size: 36px;
  }
}

@mixin lineHeight($lh: 1) {
  @if $lh == 1 {
    line-height: 1.2;
  }
}

@mixin typeset($style: regular) {
  // ////////
  // HEADINGS
  // ////////
  @if $style == h1 {
    @include defaultTypeSetting;
    @include fontSize(5);
    @include lineHeight;
    font-weight: $bold;
  }

  @if $style == h2 {
    @include defaultTypeSetting;
    @include fontSize(4);
    @include lineHeight;
    font-weight: $bold;
  }

  @if $style == h3 {
    @include defaultTypeSetting;
    @include fontSize(3);
    @include lineHeight;
    font-weight: $bold;
  }

  @if $style == h4 {
    @include defaultTypeSetting;
    @include fontSize(2);
    @include lineHeight;
    font-weight: $bold;
  }

  @if $style == h5 {
    @include defaultTypeSetting;
    @include fontSize(1);
    @include lineHeight;
    font-weight: $bold;
  }

  @if $style == h6 {
    @include defaultTypeSetting;
    @include fontSize(0);
    @include lineHeight;
    font-weight: $bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }


  // //////////////
  // LIGHT HEADINGS
  // //////////////
  @if $style == h1lt {
    @include defaultTypeSetting;
    @include fontSize(5);
    @include lineHeight;
    font-weight: $light;
  }

  @if $style == h2lt {
    @include defaultTypeSetting;
    @include fontSize(4);
    @include lineHeight;
    font-weight: $light;
  }

  @if $style == h3lt {
    @include defaultTypeSetting;
    @include fontSize(3);
    @include lineHeight;
    font-weight: $light;
  }

  @if $style == h4lt {
    @include defaultTypeSetting;
    @include fontSize(2);
    @include lineHeight;
    font-weight: $light;
  }

  @if $style == h5lt {
    @include defaultTypeSetting;
    @include fontSize(1);
    @include lineHeight;
    font-weight: $light;
  }

  @if $style == h6lt {
    @include defaultTypeSetting;
    @include fontSize(0);
    @include lineHeight;
    font-weight: $light;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  // ///////
  // CONTENT
  // ///////
  @if $style == regular {
    @include defaultTypeSetting;
    @include fontSize(2);
    @include lineHeight;
  }

  @if $style == small {
    @include defaultTypeSetting;
    @include fontSize(1);
    @include lineHeight;
  }

  @if $style == helper {
    @include defaultTypeSetting;
    @include fontSize(0);
    @include lineHeight;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
