@import '../../theme/base';

.container {
  background: $swatch01;
}

.masthead {
  height: 62px;
  display: flex;
  flex-direction: row;
  color: $swatch02;
  padding: 9px 14px 14px 7px;
}

.logo {
  margin-right: 7px;
  width: 24px;
  height: 39px;
}

.nameplate {
  position: relative;
  top: 6px;
}

.name {
  @include typeset(h4);
  color: $swatch02;
}

.description {
  @include typeset(small);
  color: $swatch02;
  position: relative;
}
