@import '../../theme/reset';
@import '../../theme/swatches';
@import '../../theme/typography';

.container {
  background: $swatch01;
}

.masthead {
  height: 62px;
  display: flex;
  flex-direction: row;
  color: $swatch02;
  padding: 9px 14px 14px 7px;
}

.logo {
  margin-right: 7px;
  width: 24px;
  height: 39px;
}

.nameplate {
  line-height: 1.1;
  position: relative;
  top: 7px;
}

.name {
  @include font((
      font-size: $medium-medium,
      font-weight: 900,
  ));
}

.description {
  @include font((
      font-size: $small,
      font-weight: 300,
  ));
}
