@import '../../theme/reset';
@import '../../theme/swatches';
@import '../../theme/typography';

.container {
  background: $swatch01;
}

.masthead {
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $swatch02;
}

.logo {
  margin-right: 12px;
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.nameplate {
  line-height: 1.1;
}

.name {
  @include font(
    (
      font-size: $medium-medium,
      font-weight: 900,
    )
  );
}

.description {
  @include font(
    (
      font-size: $small,
      font-weight: 300,
    )
  );
}
