@import '../../theme/reset';
@import '../../theme/swatches';
@import '../../theme/typography';

.container {
  background: $swatch02;
  color: $swatch01;
  @include font;
  margin: 0 16px;

  a {
    &:hover {
      color: $swatch05;
    }

    &:active {
      color: $swatch07;
    }
  }
}

.heart {
  color: $swatch10;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;

  @media (max-width: 500px) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}

.left {
  line-height: 1.5;
}

.right {
  text-align: right;
  line-height: 1.5;

  @media (max-width: 500px) {
    text-align: left;
    order: -1;
    margin-bottom: 16px;
  }
}
