@import '../../theme/base';

.container {
  background: $swatch02;
  margin: 0;
  padding: 16px;
}

.left {
  line-height: 1.5;
}

.right {
  text-align: right;
  line-height: 1.5;

  @media (max-width: 500px) {
    text-align: left;
    order: -1;
    margin-bottom: 16px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 500px) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}

.heart {
  color: $swatch10;
}

.link {
  @include typeset;

  &:hover {
    color: $swatch05;
  }

  &:active {
    color: $swatch07;
  }
}
