@import '../../theme/reset';
@import '../../theme/swatches';
@import '../../theme/typography';

.container {
  @include font;
  padding: 2%;
}

.h1 {
  @include font((
      font-size: $large,
  ));
  color: $swatch01;
  margin-bottom: 20px;
}

.h2 {
  @include font((
      font-size: $medium-large,
      font-weight: 600,
  ));
  color: $swatch01;
  margin-bottom: 5px;
}

.description {
  @include font((
      font-size: $medium,
  ));
  color: $swatch01;
  margin: 32px 0 16px;
}
